<template>
    <div>
        <loader v-if = "loadingPromoCategory" loaderStyle = "loaderStyle"/>
        <div  v-if ="errorLoadingCategory" class='errorContainer'>
            <div>
                <h1>Something went wrong please try again later.</h1>
            </div>
        </div>
        <div v-if = "!errorLoadingCategory">        
            <template  v-for = "(item, index) in products">
                <promoheader :title_prop="item.category.toUpperCase()" :key = "index"/>
                <carouselcontainer
                :totalslides="item.slides.length"
                >
                    <slide
                    data-index="index"
                    v-for = "(product, i) in item.slides"
                    >
                        <div class = "slideWrapper">
                            <div  v-for = "items in product">
                                <template v-if = "items.category_id == '1'">
                                    
                                    <card 
                                     v-if = "items.discount_value != '0'"
                                    :bodytitle="items.name"
                                    :headertitle="items.amount"
                                    :bodyimage = "items.img_url"
                                    cardStyle = "mycard"
                                    print
                                    imageStyle = "responsiveImage"
                                    tag
                                    :bubbletext = "items.discountPercentage+'% OFF'"
                                    bubbletextstyle = "bubbletextstyle"
                                    @clickedPrint = "printItem(items.category_id, items.product_id)"
                                    @clickedImage = "gotoProduct('/Product?productid='+items.product_id+'&'+'categoryid='+items.category_id+'&category=promo')"
                                    >
                                        {{items.description}}
                                    </card>
                                    <card 
                                     v-else
                                    :bodytitle="items.name"
                                    :headertitle="items.amount"
                                    :bodyimage = "items.img_url"
                                    cardStyle = "mycard"
                                    print
                                    imageStyle = "responsiveImage"
                                    @clickedPrint = "printItem(items.category_id, items.product_id)"
                                    @clickedImage = "gotoProduct('/Product?productid='+items.product_id+'&'+'categoryid='+items.category_id+'&category=promo')"
                                    >
                                        {{items.description}}
                                    </card>
                                </template>
                                <template v-else>
                                    <card :bodytitle="items.name"
                                    :headertitle="items.amount"
                                    :bodyimage = "items.img_url"
                                    cardStyle = "mycard"
                                    print
                                    imageStyle = "responsiveImage"
                                    @clickedPrint = "printItem(items.category_id, items.product_id)"
                                    @clickedImage = "gotoProduct('/Product?productid='+items.product_id+'&'+'categoryid='+items.category_id+'&category=promo')"
                                    >
                                    {{items.description}}
                                    </card>
                                </template>
                                
                            </div>
                        </div>
                
                    </slide>
                </carouselcontainer>
            </template>
        </div>
        <successloadermodal ref = "activate"
            :circleLoader = "loadingPrint"
            :circleLoaderStyle = "'display:'+loadingPrintStyle"
        />
    </div>
</template>
<style>
    .loaderStyle{
        height:500px; 
        justify-content:center;
    }
    .errorContainer{
        display:grid;
        grid-template-columns:1fr;
        height:500px;
        justify-items:center;
        align-items:center;
    }
</style>

<script>
  /**Components */
  import promoheader from '../promoheader.vue'
  import card from '../card.vue';
  import loader from '../loader.vue';
  import navbar from '../navbar.vue';
  import carouselcontainer from '../carouselcontainer.vue';
  import successloadermodal from '../successloadermodal.vue';
  /**External libraries */
  import $ from 'jquery';
  import axios from 'axios';
  /**Classes */
  import General from '../../classes/general';
  import api from '../../classes/api';
  /**Mixins */
    import printloader from '../../mixins/printloadermixin';
    import loadermixin from '../../mixins/loadermixin';
  export default {
    name: 'Home',
    data(){
        return{
            loadingPromoCategory:true,
            errorLoadingCategory:false,
            products:[],
            slides:[]
        }
    },
    mixins:[printloader,
    loadermixin],
    components: {
      card,
      navbar,
      promoheader,
      carouselcontainer,
      loader,
      successloadermodal
    },
    methods:{
        printItem(categoryid, productid){
            document.location = 'printhandler:'+categoryid+'?'+productid+'?promo';
            this.loadingPrint = ""; 
            this.loadingPrintStyle = "none;";        
            this.$refs.activate.showModal();
            this.loadingPrint = "load-complete"; 
            this.loadingPrintStyle = "block;";

            var that =this;
            setTimeout(function(){
                that.$refs.activate.hideModal();
            }, 5000);

            var date =  new Date();
            var mydate = date.getFullYear()+"-"+(parseInt(date.getMonth()) + 1 < 10 ? "0" + (parseInt(date.getMonth()) + 1) : parseInt(date.getMonth()) + 1)+"-"+(parseInt(date.getDate()) < 10 ? "0"+date.getDate() : date.getDate())+" "+(parseInt(date.getHours()) < 10 ? "0"+date.getHours() : date.getHours())+":"+(parseInt(date.getMinutes())<10 ? "0"+date.getMinutes() : date.getMinutes())+":"+(parseInt(date.getSeconds())<10 ? "0"+date.getSeconds() : date.getSeconds());
            axios.get(api.getProductDetailsPromo(categoryid, productid))
                .then((response)=>{
                    var general = new General;
                    var product =response.data.data[0].products[0];
                    general.findIP.then(ip => {
                        axios.get(api.insertTracking(), {
                            params:{action: 'print',
                            location_id:"10",
                            product_code:product.product_id,
                            product_name:product.name,
                            date_added:mydate,
                            host:ip
                        }})
                        .then(function (response) {
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    });
                });

        }
    },
    mounted(){
        $(".actives").removeClass("actives");
        $(".promo").addClass("actives");
        this.loadingPromoCategory = true;
        /**Temporary api for getting 0% installment and 0 downpayment*/
    //     var generic = new General;
    //    generic.findIP.then(ip => {console.log(ip)});
        axios.get(api.getPromoProducts())
            .then((response)=>{ 
                // console.log(response);
                this.errorLoadingCategory = false;
                // this.products = response.data.data;
                /**Parse data */
                var obj = [];
                response.data.data.forEach(function(v, i){
                    if(v.products.length == 0){
                        return;
                    }
                    var tempobj = {
                        category:v.name,
                        category_id:v.category_id,
                        slides:[]
                    };
                    var slides = [];
                    v.products.forEach(function(value, y){
                        // console.log(value);
                        
                        var totalamount = value.amount.replace("HK$", "");
                        totalamount = value.amount.replace("$", "");
                        totalamount = totalamount.replace(",","");
                        var displayamount = value.amount.replace("HK$", "$");
                        var percentage = "no percentage";
                        if(value.discount_value !== undefined && typeof value.discount_amount !="number"){
                            // console.log(Math.trunc((parseInt(value.discount_value)/parseInt(totalamount))*100));
                            percentage = Math.trunc((parseInt(value.discount_value)/parseInt(totalamount))*100);
                            displayamount = value.discount_amount.replace("HK$", "$");
                        } 
                        value.description  = value.description.replace(/<[^>]*>/g, '');
                        value.description = value.description.replace("?", "");
                        value.description = value.description.length > 45 ? value.description.slice(0,45)+"..." : value.description;
                        var productobj = {
                            name:value.name.length > 40 ? value.name.slice(0,40).toUpperCase() + "...": value.name.toUpperCase(),
                            discountPercentage:percentage == "no percentage"? "" :percentage,
                            description:value.description,
                            amount:displayamount,
                            category_id:value.category_id,
                            product_id:value.id,
                            img_url:value.img_url[0]
                        }
                        if((y+1)%4==0){
                            slides.push(productobj);
                            tempobj.slides.push(slides);
                            slides = [];
                        }else{
                            slides.push(productobj);
                        }   
                         
                        if((y+1) == v.products.length){
                            if(slides.length >0){
                                tempobj.slides.push(slides);
                            }
                            slides = [];
                        }
                    });
                    obj.push(tempobj);
                });
                this.loadingPromoCategory = false;
                this.products = obj;
                // console.log(this.products);
            }).catch((err)=>{
                console.log(err);
                this.errorLoadingCategory = true;
                this.loadingPromoCategory = false;
            });
    }
  }
</script>