<template>
    <div>
        <loader v-if = "dataLoading" loaderStyle = "loaderStyle"/>
        <div  v-if ="dataLoadingError && !dataLoading" class='errorContainerGlobal'>
            <div>
                <h1>Something went wrong please try again later.</h1>
            </div>
        </div>
        <div  v-if ="!dataLoadingError && !dataLoading">
            <template  v-for = "(item, index) in mobileProducts">
                <promoheader :title_prop="item.brand.toUpperCase()" :key = "index"/>
                <carouselcontainer
                :totalslides="item.products.length"
                >
                    <slide
                    data-index="index"
                    v-for = "(product, i) in item.products"
                    >
                        <div class = "slideWrapper">
                            <div  v-for = "items in product">
                                <card :bodytitle="items.name"
                                    :headertitle="items.price"
                                    :bodyimage = "items.image_url"
                                    cardStyle = "mycard"
                                    print
                                    imageStyle = "responsiveImage"
                                    @clickedPrint = "printItem(items.category_id, items.product_id)"
                                    @clickedImage = "gotoProduct('/Product?productid='+items.product_id+'&'+'categoryid='+items.category_id+'&category=gadgetstab')"
                                    >
                                    <div v-html ="items.description" >
                                        {{items.description}}
                                    </div>
                                </card>
                            </div>
                        </div>
                
                    </slide>
                </carouselcontainer>
            </template>
        </div>
        <successloadermodal ref = "activate"
            :circleLoader = "loadingPrint"
            :circleLoaderStyle = "'display:'+loadingPrintStyle"
        />
    </div>
</template>
<style>
</style>
<script>
/**Components */
import promoheader from '../promoheader.vue'
import carouselcontainer from '../carouselcontainer.vue';
import loader from '../loader.vue';
import card from '../card.vue';
import successloadermodal from '../successloadermodal.vue';
/**External Libraries */
import $ from 'jquery';
import axios from 'axios';
/**Classes */
import General from '../../classes/general';
import api from '../../classes/api';
/**Mixins */
import printloader from '../../mixins/printloadermixin';
import loadermixin from '../../mixins/loadermixin';
import printfunctionmixin from '../../mixins/printfunctionmixin';
export default {
    name:'Mobile',
    mixins:[printloader,
            loadermixin,
            printfunctionmixin],
    components:{
        promoheader,
        carouselcontainer,
        card,
        loader,
        successloadermodal
    },
    data(){
        return {
            mobileProducts:[],
        }
    },
    mounted(){
        $(".actives").removeClass("actives");
        $(".mobile").addClass("actives");
        axios.get(api.getProductsByCategoryId("12"))
            .then((response)=>{
            var mixin = new General;
            /**Parse response to fit it in slide with 4 products per slide */
            this.mobileProducts = mixin.parseResponse(response);
            

            this.dataLoadingError = false;
            this.dataLoading = false;
            // setTimeout(function(){
            //     $('.productDescriptionAll ul').find("li").slice(1).remove();
                
            //     // console.log($('.productDescriptionAll'));
            // }, 1000);
            // // $('.productDescriptionAll').css("background-color", "red");
        }).catch((err)=>{
            console.log(err);
            this.dataLoadingError = true;
            this.dataLoading = false;
        });
    }
}
</script>
