<template>
    <div> 
        <div class= "othersContainer">      
            <div class = "firstrowContainer">
                <button class = 'firstrow' id = "appliances" @click="gotoProduct('/Appliances')">
                    <!-- <div style = "margin-bottom:20px;"> -->
                        <img class = "imageicon" src = "../../assets/images/1.png"/>
                        <h1 class = "iconlabel">Appliances</h1>
                    <!-- </div> -->
                </button>
                <button class = 'firstrow' id = "healthbeauty" @click="gotoProduct('/Healthbeauty')">
                    <img class = "imageicon" src = "../../assets/images/3.png"/>
                    <h1 class = "iconlabel">Health &amp; Beauty</h1>
                </button>
                <button class = 'firstrow' id = "cameras" @click="gotoProduct('/Cameras')">
                   <img class = "imageicon" src = "../../assets/images/camera.png"/>
                    <h1 class = "iconlabel">Cameras</h1>
                </button>
                <button class = 'firstrow' id = "watches" @click="gotoProduct('/Watches')">
                    <img class = "imageicon" src = "../../assets/images/5.png"/>
                    <h1 class = "iconlabel">Watches</h1>
                </button>
            </div> 
            <div class = "secondrowContainer">
                <button class ='secondrow' id = "accessories" @click="gotoProduct('/Accessories')">
                    <img class = "imageicon" src = "../../assets/images/headset.png"/>
                    <h1 class = "iconlabel">Accessories</h1>
                </button>
                <button class ='secondrow' id = "creativeproducts" @click="gotoProduct('/Creativeproducts')">
                    <img class = "imageicon" src = "../../assets/images/6.png"/>
                    <h1 class = "iconlabel">Creative Products</h1>
                </button>
                <button class ='secondrow' id = "kitchenware" @click="gotoProduct('/Kitchenware')">
                     <img class = "imageicon" src = "../../assets/images/2.png"/>
                    <h1 class = "iconlabel">Kitchenware</h1>
                </button>
            </div>
        </div>
    </div>
</template>
<script>
/**External libraries */
import $ from 'jquery';
/**Mixins */
import loadermixin from '../../mixins/loadermixin';
export default {
    name:'Others',
    mixins:[loadermixin],
    mounted(){
        $(".actives").removeClass("actives");
        $(".others").addClass("actives");
    }
}
</script>
<style>
    .othersContainer{
        width: 1900px;
        height: 800px;
        margin:auto;
        max-width:100%;
        max-height:100%;
        overflow:auto;
        padding:97px;
        padding-bottom:0px;
    }
    .firstrowContainer{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap:5px;
    }
    .secondrowContainer{
        margin-top:5px;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:5px;
    }
    .firstrow{
        height:300px;
        text-align: center;
       
    }
    .secondrow{
        height:300px;
         text-align: center;
    }
    #appliances{
        /* background-color: #59bac1;
        
        transition-property: background;
        transition-duration: .2s, 1s;
        transition-timing-function: ease-in;
        transition-delay: 0s, 1s; */
        padding: 10px 25px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 1px solid #949494;
        background: #3fb2bc;
        background: linear-gradient(top,  #97e0e7,  #3fb2bc);
        background: -ms-linear-gradient(top,   #97e0e7,  #3fb2bc);
        background: -webkit-gradient(linear, left top, left bottom, from(#97e0e7), to(#3fb2bc));
        background: -moz-linear-gradient(top,  #97e0e7,  #3fb2bc);
        transition-property: background;
        transition-duration: .2s, 1s;
        transition-timing-function: ease-in;
        transition-delay: 0s, 1s;
        outline: none !important;
    }
    #appliances:active{
       background:#7A7A7A;
    }
    #healthbeauty{
        /* background-color: #de67a7;
        transition-property: background;
        transition-duration: .2s, 1s;
        transition-timing-function: ease-in;
        transition-delay: 0s, 1s;
        outline:none; */
        padding: 10px 25px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 1px solid #949494;
        background: #f8aed6;
        background: linear-gradient(top,  #f8aed6,  #d15698);
        background: -ms-linear-gradient(top,   #f8aed6,#d15698);
        background: -webkit-gradient(linear, left top, left bottom, from(#f8aed6), to(#d15698));
        background: -moz-linear-gradient(top, #f8aed6,   #d15698);

        transition-property: background;
        transition-duration: .2s, 1s;
        transition-timing-function: ease-in;
        transition-delay: 0s, 1s;
        outline: none !important;
    }
    #healthbeauty:active{
       background:#7A7A7A;
    }
    #cameras{
        /* background-color: #efd15f;
        transition-property: background;
        transition-duration: .2s, 1s;
        transition-timing-function: ease-in;
        transition-delay: 0s, 1s;
        outline:none; */
        padding: 10px 25px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 1px solid #949494;
        background: #efd15f;
        background: linear-gradient(top,  #f1de8e,  #efd15f);
        background: -ms-linear-gradient(top,   #f1de8e,#efd15f);
        background: -webkit-gradient(linear, left top, left bottom, from(#f1de8e), to(#efd15f));
        background: -moz-linear-gradient(top, #f1de8e,   #efd15f);

        transition-property: background;
        transition-duration: .2s, 1s;
        transition-timing-function: ease-in;
        transition-delay: 0s, 1s;
        outline: none !important;
    }
    #cameras:active{
       background:#7A7A7A;
    }
    #watches{
        /* background-color: #9376b8;
        transition-property: background;
        transition-duration: .2s, 1s;
        transition-timing-function: ease-in;
        transition-delay: 0s, 1s;
        outline:none; */
        padding: 10px 25px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 1px solid #949494;
        background: #c1abdf;
        background: linear-gradient(top,  #c1abdf,  #8366aa);
        background: -ms-linear-gradient(top,   #c1abdf,  #8366aa);
        background: -webkit-gradient(linear, left top, left bottom, from(#c1abdf), to(#8366aa));
        background: -moz-linear-gradient(top,  #c1abdf,  #8366aa);

        transition-property: background;
        transition-duration: .2s, 1s;
        transition-timing-function: ease-in;
        transition-delay: 0s, 1s;
        outline: none !important;
    }
    #watches:active{
       background:#7A7A7A;
    }
    #accessories{
        /* background-color:#87c28c;
        
        transition-property: background;
        transition-duration: .2s, 1s;
        transition-timing-function: ease-in;
        transition-delay: 0s, 1s;
        outline:none; */
         padding: 10px 25px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 1px solid #949494;
        background: #87c28c;
        background: linear-gradient(top,  #afe2b3,  #87c28c);
        background: -ms-linear-gradient(top,   #afe2b3,  #87c28c);
        background: -webkit-gradient(linear, left top, left bottom, from(#afe2b3), to(#87c28c));
        background: -moz-linear-gradient(top,  #afe2b3,  #87c28c);

        transition-property: background;
        transition-duration: .2s, 1s;
        transition-timing-function: ease-in;
        transition-delay: 0s, 1s;
        outline: none !important;
    }
    #accessories:active{
       background:#7A7A7A;
    }
    #creativeproducts{
        /* background-color:#587fca;
        
        transition-property: background;
        transition-duration: .2s, 1s;
        transition-timing-function: ease-in;
        transition-delay: 0s, 1s;
        outline:none; */
        padding: 10px 25px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 1px solid #949494;
        background: #99b5e9;
        background: linear-gradient(top,  #99b5e9,  #4167ad);
        background: -ms-linear-gradient(top,   #99b5e9,  #4167ad);
        background: -webkit-gradient(linear, left top, left bottom, from(#99b5e9), to(#4167ad));
        background: -moz-linear-gradient(top,  #99b5e9,#4167ad);

        transition-property: background;
        transition-duration: .2s, 1s;
        transition-timing-function: ease-in;
        transition-delay: 0s, 1s;
        outline: none !important;
    }
    #creativeproducts:active{
       background:#7A7A7A;
    }
    #kitchenware{
        /* background-color:#dc5c5b;
        
        transition-property: background;
        transition-duration: .2s, 1s;
        transition-timing-function: ease-in;
        transition-delay: 0s, 1s;
        outline:none; */
        padding: 10px 25px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 1px solid #949494;
        background: #dc5c5b;
        background: linear-gradient(top,  #db8e8e,  #dc5c5b);
        background: -ms-linear-gradient(top,   #db8e8e,  #dc5c5b);
        background: -webkit-gradient(linear, left top, left bottom, from(#db8e8e), to(#dc5c5b));
        background: -moz-linear-gradient(top,  #db8e8e,#dc5c5b);

        transition-property: background;
        transition-duration: .2s, 1s;
        transition-timing-function: ease-in;
        transition-delay: 0s, 1s;
        outline: none !important;
    }
    #kitchenware:active{
       background:#7A7A7A;
    }
    .imageicon{
        width: 100px; 
        margin-top:45px;
    }
    .iconlabel{
        font-size:50px; 
        font-weight:bold; 
        color:white; 
        margin-top:30px;
        text-shadow: 2px 2px 0px #4C5257;
        /* box-shadow: 1px 1px 1px #BEE2F9; */
    }
    @media only screen and (max-width: 1400px) {
        .imageicon{
            width: 50px; 
            margin-top:20px;
        }
        .iconlabel{
            font-size:20px; 
            margin-top:15px;
        }    
        .firstrow{
            height:150px;
        }
        .secondrow{
            height:150px;
        }
        .othersContainer{
            width: 1000px;
            height: 350px;
            top:280px; 
            overflow:auto;
        }
    }
</style>