<template>
    <div>
        <div>
            <promoheader title_prop="BACK" back mycursor = "mycursor"/>
        </div>
        <loader v-if = "!dataloaded" loaderStyle = "loaderStyle"/>
        <div  v-if ="errorLoadingProduct" class='errorContainer'>
            <div>
                <h1>Something went wrong please try again later.</h1>
            </div>
        </div>
        <div v-if = "dataloaded && !errorLoadingProduct" class='productDetailsContainer'>
            <div class ='first'>
                <template v-if = "category == 'promo'">
                    <div v-for = "(item, i) in product.img_url" :key = "i" class = "images" :class = "imageClass[i]">
                        <img :src ="item" @click = "changeImage(item, i)" style= "max-width:100%; max-height:100px;"/>
                    </div>
                </template>
                <template v-if = "category == 'gadgetstab'">
                    <div v-for = "(item, i) in mobile.image_url" :key = "i" class = "images" :class = "imageClass[i]">
                        <img :src ="item.image_url" @click = "changeImage(item.image_url, i)" style= "max-width:100%;  max-height:100px;"/>
                    </div>
                </template>
            </div>
            <div class ='second'>
                <div v-if = "category == 'promo'">
                    <card
                        v-if = "this.product.discount_amount != 0" 
                        tag
                        v-bind:bodyimage = "cardimage"
                        imageStyle = "productImageView"
                        cardStyle = "productCardStyle"
                        bubbletext = "SAVE"
                        bubbletextstyle = "bubbletextProduct"
                        bodycardstyle = "bodycardstyles"
                    >
                    </card>
                    <card
                        v-else 
                        
                        v-bind:bodyimage = "cardimage"
                        imageStyle = "productImageView"
                        cardStyle = "productCardStyle"
                        bodycardstyle = "bodycardstyles"
                    >
                    </card>
                </div>
                 <div v-if = "category == 'gadgetstab'">
                    <card 
                        v-bind:bodyimage = "cardimage"
                        imageStyle = "productImageView"
                        cardStyle = "productCardStyle"
                        bodycardstyle = "bodycardstyles"
                    >
                    </card>
                </div>
            </div>
            <div class ='third'>
                <div  v-if = "category == 'promo'" style = "display:grid; grid-template-columns:1fr; height:100%;">
                    <h1 class='title' style = "margin-bottom:0px;">
                        {{product.name.toUpperCase()}}
                    </h1>
                    <!-- <div style = "display:grid; grid-template-columns:1fr;"> -->
                    <div style = "display:grid; grid-gap:20px; grid-template-columns:1fr 1fr;">
                        <div class = 'promoDescription' v-html = "product.description">
                            {{product.description}}
                        </div>
                        <div style = "justify-self:start;
                                        display:grid;
                                        grid-template-colums:1fr;
                                        justify-self:end;">
                            <div v-if = "product.downpayment == true">                                               
                                <h3 style = "font-weight:bold; font-size:35px;">Installment Plan</h3>
                                <table class = 'table borderless' >
                                    <tbody>
                                        
                                        <tr v-if = "parseInt(product.DP6) != null">
                                            <td style = "vertical-align:bottom;"><h1  class = 'label' style = "margin-bottom:0px;">Down:</h1></td>
                                            <td align = "right"><h1 style = "font-size:35px; margin-bottom:0px; padding-left:50px;"><span style = "font-size:25px;">MOP</span><span style = "font-size:35px;">{{"$"+product.DP6}}</span></h1></td>
                                        </tr>
                                        
                                        <tr v-if = "parseInt(product.month6) != 0 " >
                                            <td   style = "vertical-align:bottom;"><h1  class = 'label' style = "margin-bottom:0px;">6 Monthly:</h1></td>
                                            <td align = "right"><h1 style = "margin-bottom:0px; padding-left:50px;"><span style = "font-size:25px;">MOP</span><span style = "font-size:35px;">{{"$"+product.month6}}</span></h1></td>
                                        </tr>
                                    </tbody>    
                                </table>
                            </div>
                            <div style = "display:grid;
                                        ">
                                <div style = "align-self:end;">
                                    <table class= 'table borderless'>
                                        <tbody>
                                            <tr v-if = "product.discount_amount != 0">
                                                <td style = "vertical-align:bottom;">
                                                    <h1  style = "margin-bottom:0px;">
                                                        <span class='label bold'>
                                                            Discount Price:
                                                        </span>
                                                    </h1>
                                                </td>
                                                <td style = "vertical-align:bottom;"  align = "right">
                                                    <h1 style = "margin-bottom:0px;">
                                                        <span style = "padding-left:20px;" class = "currency">MOP</span>
                                                        <span class = "amount">
                                                            {{"$"+product.discount_amount}}
                                                        </span>
                                                    </h1>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style = "vertical-align:bottom;">
                                                    <h1 style = "margin-bottom:0px;">
                                                        <span  class='label' style = "align-self:end;">Price:</span>
                                                    </h1>
                                                </td>
                                                <td style = "vertical-align:bottom;"  align = "right">
                                                    <h1 style = "margin-bottom:0px;">
                                                        <span style = "padding-left:20px;" class = "currency">MOP</span>
                                                        <span class = "amount">
                                                            {{product.amount.replace("HK", "")}}
                                                        </span>
                                                    </h1>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="align-self:end; justify-self:end;">
                        <ribbon v-if = "product.savedcheck == true"><h1 class= 'saved' ><span>(Save &nbsp;</span> <span style = "font-size:30px;">MOP</span><span>${{formatPrice(product.saved)}})</span></h1></ribbon>
                    </div>
                    <div style="align-self:end; justify-self:end;">
                        <button class='btn printButton printButtonProductDetails' @click = "printProductPromo()"><i class='fa fa-print'></i>&nbsp;Print</button>
                    </div>
                    <!-- </div> -->
                </div>
                <div v-if = "category == 'gadgetstab'" style = "display:grid; grid-template-columns:1fr; height:100%;">
                       
                    <h1 class='title' style = "margin-bottom:0px;">
                        {{mobile.name.toUpperCase()}}
                    </h1>
                    
                    <div style = "display:grid; grid-template-columns:1fr 1fr; grid-gap:30px;">    
                        <div class = 'descriptionProduct' v-html="mobile.description">
                            {{mobile.description}}
                        </div>
                        <div id = "priceContainer" style= 'display:grid; grid-gap:20px; grid-template-columns:1fr; justify-self:end;'>
                            <div v-if = "mobile.downpayment" style = ''>
                                <div class='discountprice bold'>
                                    <h1 class = 'label motherlabel'>Installment Plan:</h1>
                                </div>
                                <div style = "display:grid;">
                                    <div>
                                        <table class='table borderless'>
                                            <tbody>
                                                <tr v-if = "mobile.dp6 != ''">
                                                    <td style = "vertical-align:bottom;"><h1 class = 'label'><span>Down:</span></h1></td>
                                                    <td style = "vertical-align:bottom;" align = "right"><h1 class = 'label' style = "margin-left:20px;"><span class = "currency">MOP</span><span  class = "amount"> {{"$"+formatPrice(mobile.dp6)}}</span></h1></td>
                                                </tr>
                                                <tr v-if = "mobile.month6 != ''">
                                                    <td style = "vertical-align:bottom;">
                                                        <h1 class = 'label'><span>6 Monthly:</span></h1>
                                                    </td>
                                                    <td style = "vertical-align:bottom;"  align = "right">
                                                        <h1 class = 'label' style = "margin-left:20px;"><span class = "currency">MOP</span><span class = "amount"> {{"$"+formatPrice(mobile.month6)}}</span></h1>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div style = ' display:grid; grid-template-columns:1fr 1fr; align-self:start;'>
                                <div style = "justify-self:start; align-self:end;">
                                    <h1 class = 'label'>Price:</h1>
                                </div>
                                <div  style = "justify-self:end;  align-self:end;">
                                    <h1><span class = "currency">MOP</span> <span class = "amount">{{formatPrice(mobile.amount.replace("MOP", ""))}}</span></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- <ribbon><h1 class= 'saved'>(Saved HK$100)</h1></ribbon> -->
                    <div style = "align-self:end; justify-self:end;">
                        <!-- <div style="text-align:right;"> printButtonProductDetails-->
                            <button class='btn printButton printButtonProductDetails' @click = "printProduct()"><i class='fa fa-print'></i>&nbsp;Print</button>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
        <successloadermodal ref = "activate"
            :circleLoader = "loadingPrint"
            :circleLoaderStyle = "'display:'+loadingPrintStyle"
        />
    </div>
</template>
<style>
    .descriptionProduct h4{
        font-size: 30px;
        /* font-weight: bold; */
        font-family: 'Lato', sans-serif !important;
    }
    .descriptionProduct h4 span{
        font-size: 30px;
        /* font-weight: bold; */
        font-family: 'Lato', sans-serif !important;
    }
    .descriptionProduct ul li{
        font-size: 30px;
        /* font-weight: bold; */
        font-family: 'Lato', sans-serif !important;
    }
    .descriptionProduct{
        font-size: 30px;
        /* font-weight: bold; */
        font-family: 'Lato', sans-serif !important;
    }
    .promoDescription h4{
        font-size: 28px;
        /* font-weight: bold; */
        font-family: 'Lato', sans-serif !important;
    }
    .promoDescription h4 span{
        font-size: 28px;
        /* font-weight: bold; */
        font-family: 'Lato', sans-serif !important;
    }
    .promoDescription div{
        font-size: 28px;
        /* font-weight: bold; */
        font-family: 'Lato', sans-serif !important;
    }
    .promoDescription ul li{
        font-size: 28px;
        /* font-weight: bold; */
        font-family: 'Lato', sans-serif !important;
    }
    @media only screen and (max-width: 1400px) {
        .descriptionProduct h4{
            font-size: 20px;
        }
        .descriptionProduct h4 span{
            font-size: 20px;
        }
        .descriptionProduct ul li{
            font-size: 20px;
        }
        .descriptionProduct{
            font-size: 20px;
        }
        .promoDescription h4{
            font-size: 20px;
        }
        .promoDescription h4 span{
            font-size: 20px;
        }
        .promoDescription div{
            font-size: 20px;
        }
        .promoDescription ul li{
            font-size: 20px;
        }
    }
</style>
<style scoped>
    @media only screen and (max-width: 1960px) {
        .printButton{
            font-size:40px !important;
            width:250px !important;
        }
        .saved{
            font-size:40px !important;
            top:-68px !important;
        }
        .title{
            font-size:50px !important;
        }
        .productCardStyle{
            height:700px !important;
        }
        .description{
            font-size: 30px !important;
        }
         .discountprice{
            font-size:45px !important;
        }
        .price{
            font-size:70px !important;
        }
        .nodcprice{
            font-size:60px !important;       
        }
         .label{
            font-size:30px !important;
        }
        .first{
            max-height: 700px !important;
            grid-auto-rows: 175px !important;
        }
        #priceContainer{
            margin-bottom:20px !important;
        }
        .productDetailsContainer{
            grid-template-columns:250px 2fr 3fr !important; 
        }
    }
    @media only screen and (max-width: 1400px) {
       .printButton{
            font-size:30px !important;
            width:180px !important;
        }
        .saved{
            font-size:30px !important;
            top:-50px !important;
        }
        .title{
            font-size:30px !important;
        }
        .productCardStyle{
            height:500px !important;
        }
        .description{
            font-size: 30px !important;
        }
         .discountprice{
            font-size:30px !important;
        }
        .price{
            font-size:70px !important;
        }
        .nodcprice{
            font-size:60px !important;       
        }
        .label{
            font-size:30px;
        }
        #priceContainer{
            margin-bottom:0px !important;
        }
        .first{
            max-height: 600px !important;
            grid-auto-rows: 150px !important;
        }
        .third{
            padding-right:0px !important;
            padding-left: 20px !important;
            padding-top: 0px !important;
            padding-bottom:0px !important; 
        }
        .currency{
            font-size:18px !important; 
        }
        .amount{
            font-size:30px !important;
        }
    }
    .currency{
        font-size:25px; 
    }
    .amount{
        font-size:35px;
    }
    .labelContainer{
        height:60px; 
        display:grid; 
        grid-template-columns:1fr;
    }
    .labelContainerInstallment{
        height:60px; 
        display:grid; 
        grid-template-columns:1fr;
    }
    #priceContainer{
        margin-bottom:35px;
    }
    .mobileProductDetailsContainer{
        display: grid;
        grid-template-columns: 1fr;
        height:100%;
    }
    .label{
        font-size:30px;
    }
    .title{
        font-size:70px;
        font-weight: bold;
        color:#2f2f2f;
        margin-bottom:40px;
    }
    .printButton{
        font-size:80px;
        
        width:380px;
    }
    .productImageContainer{
        /* height: 200px; */
    }
    .saved{
        font-size:80px;
        font-weight: bold;
        color:white;
        margin-left:20px;
    
    }
    .price{
        color:black;
        font-size:100px;
        font-weight: bold;
    }
    .nodcprice{
        font-size:70px;
        
    }
    .bold{
        font-weight: bold;
    }
    .discountprice{
        font-size:60px;
        color:#2f2f2f;
    }
    .description{
        font-size: 40px;
    }
   
    .images{
        width:100%;
        /* height:230px; */
        border-radius: 15px;
        border:2px solid gray;
        margin-bottom: 20px;
        overflow-y: hidden;
        cursor: pointer;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }
    .selected{
        border:2px solid black;
    }
    .productContainer{
        display: flex;
    }
    .first{
        padding-left: 30px;
        padding-right: 30px;
        max-height: 1050px;
        overflow-y: scroll;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 265px;
    }
    .second{
        /* width:32%; */
    }
    .third{
        padding-right:70px;
        padding-left: 50px;
        padding-top: 30px;
        padding-bottom:0px; 
    }
    .productCardStyle{
        height:1050px;
        background-color: white !important;
        border:2px solid #8f8f8f;
    }
    .loaderStyle{
        height:500px; 
        justify-content:center;
    }
    .errorContainer{
        display:grid;
        grid-template-columns:1fr;
        height:500px;
        justify-items:center;
        align-items:center;
    }
    .productDetailsContainer{
        display:grid;
        margin-top:20px; 
        grid-template-columns:350px 2fr 3fr; 
        padding-right:30px;
    }
    .borderless td, .borderless th {
        border: none;
        padding:0px;
    }
    .borderless{
        width:100%;
    }
    .label{
        font-size:35px;
    }
    .motherlabel{
        font-weight:bold;
    }
</style>
<script>
    /**Components */
    import promoheader from '../promoheader.vue'
    import card from '../card.vue';
    import ribbon from '../ribbon.vue';
    import SuperArray from 'super-array';
    import loader from '../loader.vue';
     import successloadermodal from '../successloadermodal.vue';
    /**External Libraries */
    import $ from 'jquery';
    import axios from 'axios';
    import pdfMake from "pdfmake/build/pdfmake";
    import pdfFonts from "pdfmake/build/vfs_fonts";
    /**Classes */
    import General from '../../classes/general';
    import api from '../../classes/api';
    /**mixins */
    import printloader from '../../mixins/printloadermixin';
    pdfMake.vfs = pdfFonts.pdfMake.vfs;
    export default {
        name:'Product',
        data(){
            return {
                firstimage:'1.jpg',
                secondimage:'3.jpg',
                fourthimage:'2.jpg',
                imageview:'espresso.png',
                cardimage:'espresso.png',
                imageClass:[],
                dataloaded:false,
                errorLoadingProduct:false,
                product:{},
                category:this.$route.query.category,
                mobile:{},
                specs:{}
            }
        },
        mounted(){
            $(".actives").removeClass("actives");
            var date =  new Date();
            var mydate = date.getFullYear()+"-"+(parseInt(date.getMonth()) + 1 < 10 ? "0" + (parseInt(date.getMonth()) + 1) : parseInt(date.getMonth()) + 1)+"-"+(parseInt(date.getDate()) < 10 ? "0"+date.getDate() : date.getDate())+" "+(parseInt(date.getHours()) < 10 ? "0"+date.getHours() : date.getHours())+":"+(parseInt(date.getMinutes())<10 ? "0"+date.getMinutes() : date.getMinutes())+":"+(parseInt(date.getSeconds())<10 ? "0"+date.getSeconds() : date.getSeconds());
            switch(this.$route.query.category){
                case 'promo':
                
                    axios.get(api.getProductDetailsPromo(this.$route.query.categoryid, this.$route.query.productid))
                    .then((response)=>{
                        // console.log(response);
                        this.errorLoadingProduct = false;
                        
                        this.product =response.data.data[0].products[0];
                        var general = new General;
                        general.findIP.then(ip => {
                            axios.get(api.insertTracking(), {
                                params:{action: 'product',
                                location_id:"10",
                                product_code:this.product.product_id,
                                product_name:this.product.name,
                                date_added:mydate,
                                host:ip
                            }})
                            .then(function (response) {
                                console.log(response);
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                        });

                        this.product.description = this.product.description.replace(/\?/g, " ");
                        var totalamount = this.product.amount.replace("HK$", "");
                        totalamount = totalamount.replace(",","");
                        var discountamount = '';
                        var savedcheck = false;
                        if(this.product.discount_amount == 0){
                            discountamount = 0;
                        }else{
                            discountamount = this.product.discount_amount.replace("HK$", "");
                            discountamount = discountamount.replace(",", "");
                            this.product.discount_amount = this.product.discount_amount.replace("HK$", "");
                            savedcheck = true;
                        }
                        

                        this.product.amount = general.formatNumber(this.product.amount);

                        var saved = parseInt(totalamount) - parseInt(discountamount);
                        this.product["savedcheck"] =savedcheck;
                        this.product["saved"] = saved;
                        // console.log(this.product);
                        this.product.img_url.forEach((v, i)=>{
                            this.product.img_url[i] ="data:image/jpg;base64,"+this.product.img_url[i]
                            this.imageClass[i] ="";
                        });
                        if((this.product.DP6 == 0 ||this.product.DP6 == '' ||this.product.DP6 ==  null)
                            &&(this.product.month6 == 0 ||this.product.month6 == '' ||this.product.month6 ==  null) ){
                                this.product["downpayment"] = false;
                        }else{
                            
                            this.product["downpayment"] = true;
                            this.product.month6 = Math.ceil(this.product.month6);
                            // console.log(this.product.month6);
                        }
                        if(this.imageClass.length > 0){
                            this.imageClass[0] = "selected"; 
                            this.cardimage = this.product.img_url[0];
                        }
                        
                        this.dataloaded = true;
                    }).catch((err)=>{
                        console.log(err);
                        this.dataloaded = true;
                        this.errorLoadingProduct = true;
                    });
                break;
                case 'gadgetstab':
                    axios.get(api.getProductDetails(this.$route.query.categoryid, this.$route.query.productid))
                    .then((response)=>{
                        // console.log(response);
                        var descriptionTemp = response.data[0][0].meta_keywords;
                        var general = new General;
                        general.findIP.then(ip => {
                            axios.get(api.insertTracking(), {
                                params:{action: 'product',
                                location_id:"10",
                                product_code:response.data[0][0].product_code,
                                product_name:response.data[0][0].name,
                                date_added:mydate,
                                host:ip
                            }})
                            .then(function (response) {
                                console.log(response);
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                        });
                        this.errorLoadingProduct = false;
                      
                        this.mobile =  general.parseSingleProduct(response);
                        // console.log(this.mobile);
                        this.mobile.image_url.forEach((v, i)=>{ 
                            this.imageClass[i] ="";
                        });
                        if(this.imageClass.length > 0){
                            this.imageClass[0] = "selected"; 
                            this.cardimage = this.mobile.image_url[0].image_url;
                        }
                        // console.log(this.mobile);
                        this.dataloaded = true;
                    }).catch((err)=>{
                        console.log(err);
                        this.dataloaded = true;
                        this.errorLoadingProduct = true;
                    });
                break;
            }
            
        },
        computed:{
            getImage: function(){
                  var images = require.context('../../assets/sample_images/', false, /\.(?:jpg|gif|png)$/)
                    return images('./' + this.imageview);
            }
        },
        methods:{
            changeImage(image, i){
                this.cardimage = image;
                this.imageClass.forEach((element, y)=>{
                    if(i ==y){
                        this.imageClass[y] = "selected";
                    }else{
                        this.imageClass[y] = "";
                    }
                });
            },
            gotoHome(){
                this.$router.push("/")
            },
            getSideImage(image){
                 var images = require.context('../../assets/sample_images/', false, /\.(?:jpg|gif|png)$/)
                    return images('./' + image);
            },
            printProduct(){
                this.loadingPrint = ""; 
                this.loadingPrintStyle = "none;";        
                this.$refs.activate.showModal();
                this.loadingPrint = "load-complete"; 
                this.loadingPrintStyle = "block;";
                document.location = 'printhandler:'+this.$route.query.categoryid+'?'+this.$route.query.productid+'?category?category';
                var that =this;
                setTimeout(function(){
                    that.$refs.activate.hideModal();
                }, 5000);
                
                var date =  new Date();
                var mydate = date.getFullYear()+"-"+(parseInt(date.getMonth()) + 1 < 10 ? "0" + (parseInt(date.getMonth()) + 1) : parseInt(date.getMonth()) + 1)+"-"+(parseInt(date.getDate()) < 10 ? "0"+date.getDate() : date.getDate())+" "+(parseInt(date.getHours()) < 10 ? "0"+date.getHours() : date.getHours())+":"+(parseInt(date.getMinutes())<10 ? "0"+date.getMinutes() : date.getMinutes())+":"+(parseInt(date.getSeconds())<10 ? "0"+date.getSeconds() : date.getSeconds());
                axios.get(api.getProductDetails(this.$route.query.categoryid, this.$route.query.productid))
                    .then((response)=>{
                        var general = new General;
                        general.findIP.then(ip => {
                            axios.get(api.insertTracking(), {
                                params:{action: 'print',
                                location_id:"10",
                                product_code:response.data[0][0].product_code,
                                product_name:response.data[0][0].name,
                                date_added:mydate,
                                host:ip
                            }})
                            .then(function (response) {
                                console.log(response);
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                        });
                    });
            },
            printProductPromo(){
                this.loadingPrint = ""; 
                this.loadingPrintStyle = "none;";        
                this.$refs.activate.showModal();
                this.loadingPrint = "load-complete"; 
                this.loadingPrintStyle = "block;";

                var that =this;
                setTimeout(function(){
                    that.$refs.activate.hideModal();
                }, 5000);
                document.location = 'printhandler:'+this.$route.query.categoryid+'?'+this.$route.query.productid+'?promo';
                
                var date =  new Date();
                var mydate = date.getFullYear()+"-"+(parseInt(date.getMonth()) + 1 < 10 ? "0" + (parseInt(date.getMonth()) + 1) : parseInt(date.getMonth()) + 1)+"-"+(parseInt(date.getDate()) < 10 ? "0"+date.getDate() : date.getDate())+" "+(parseInt(date.getHours()) < 10 ? "0"+date.getHours() : date.getHours())+":"+(parseInt(date.getMinutes())<10 ? "0"+date.getMinutes() : date.getMinutes())+":"+(parseInt(date.getSeconds())<10 ? "0"+date.getSeconds() : date.getSeconds());
                axios.get(api.getProductDetailsPromo(this.$route.query.categoryid, this.$route.query.productid))
                    .then((response)=>{
                        var general = new General;
                        var product =response.data.data[0].products[0];
                        general.findIP.then(ip => {
                            axios.get(api.insertTracking(), {
                                params:{action: 'print',
                                location_id:"10",
                                product_code:product.product_id,
                                product_name:product.name,
                                date_added:mydate,
                                host:ip
                            }})
                            .then(function (response) {
                                console.log(response);
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                        });
                    });
            },
            formatPrice(value){
                var general = new General;
                
                return general.formatNumber(value);
            }
        },
         mixins:[printloader],
        components:{
            promoheader,
            card,
            ribbon,
            loader,
            successloadermodal
        }

    }
</script>



