<template>
    <div>
        Hello World
    </div>
</template>
<style scoped>

</style>

<script>
    export default {
        name: 'Promo',
        mounted(){
            // console.log(this.$route.name);
        }
    }
</script>
