<template>
    <div>     
        <div>
            <promoheader title_prop="BACK" back mycursor = "mycursor"/>
        </div>
        <loader v-if = "dataLoading" loaderStyle = "loaderStyle"/>
        <div  v-if ="dataLoadingError && !dataLoading" class='errorContainerGlobal'>
            <div>
                <h1>Something went wrong please try again later.</h1>
            </div>
        </div>
        <div  v-if ="nodata" class='errorContainerGlobal'>
            <div>
                <h1>Type something to search for products.</h1>
            </div>
        </div>
        <div  v-if ="noproducts" class='errorContainerGlobal'>
            <div>
                <h1>No products found.</h1>
            </div>
        </div>
        <div  v-if ="!dataLoadingError && !dataLoading && !nodata">
                <carouselcontainer
                :totalslides="products.length"
                >
                    <slide
                    data-index="index"
                    v-for = "(product, i) in products"
                    >
                        <div class = "slideWrapper">
                            <div  v-for = "items in product">
                                <card :bodytitle="items.name"
                                    :headertitle="items.amount"
                                    :bodyimage = "items.image_url"
                                    cardStyle = "mycard"
                                    print
                                    imageStyle = "responsiveImage"
                                    @clickedPrint = "printItem(items.category_id, items.product_id)"
                                    @clickedImage = "gotoProduct('/Product?productid='+items.product_id+'&'+'categoryid='+items.category_id+'&category=gadgetstab')"
                                    >
                                    {{items.description}}
                                </card>
                            </div>
                        </div>
                    </slide>
                </carouselcontainer> 
           
        </div>
        <successloadermodal ref = "activate"
            :circleLoader = "loadingPrint"
            :circleLoaderStyle = "'display:'+loadingPrintStyle"
        />
    </div>
</template>
<style>
 
</style>
<script>
/**Components */
import promoheader from '../promoheader.vue'
import carouselcontainer from '../carouselcontainer.vue';
import successloadermodal from '../successloadermodal.vue';
import card from '../card.vue';
import loader from '../loader.vue';
/**External Libraries */
import $ from 'jquery';
import axios from 'axios';
import _ from 'lodash';
/**Classes*/
import General from '../../classes/general';
import api from '../../classes/api';
/**Mixins */
import printloader from '../../mixins/printloadermixin';
import loadermixin from '../../mixins/loadermixin';
import printfunctionmixin from '../../mixins/printfunctionmixin';
export default {
    name:'Search',
    components:{
        promoheader,
        carouselcontainer,
        card,
        loader,
        successloadermodal
    },
    data(){
        return {
            searchProducts:this.$route.query.search,
            products:[],
            nodata:false,
            timeout:null,
            noproducts:false
        }
    },
    methods:{

        getProducts(){
            // console.log("Hello");
            this.dataLoadingError = false;
            this.dataLoading = true;
            this.noproducts = false;
            axios.get(api.searchProducts(this.searchProducts))
            .then((response)=>{
                // console.log(response);
                if(response.data.errors){
                    this.nodata = true;
                }else{
                    this.nodata = false;
                    var mixin = new General;
                    /**Parse response to fit it in slide with 4 products per slide */
                    this.products = mixin.searchProductParser(response);
                    this.dataLoadingError = false;
                    if(this.products.length==0){
                        this.noproducts = true;
                    }else{
                        this.noproducts = false;
                    }
                    this.dataLoading = false;
                }
            }).catch((err)=>{
                console.log(err);
                this.dataLoadingError = true;
                this.dataLoading = false;
                this.nodata = false;
                this.products = [];
            });
        },
        gotoHome(){
            this.$router.push("/")
        },
    },
    watch:{
        '$route' (to, from) {
            this.searchProducts = this.$route.query.search;
        },
        searchProducts: function(val){
            this.getProducts();
        }
    },
    mixins:[printloader,
            loadermixin,
            printfunctionmixin],
    mounted(){
        $(".actives").removeClass("actives");
        this.getProducts();
    }
}
</script>
