<template>
    
		<div class="talk-bubble">
        
					<h1 class="textbubble" :class = "textstyle"><slot></slot></h1>
        
    </div>
</template>
<script>
export default {
		props:{
			textstyle:String
		},
    name:'bubble'
}
</script>

<style scoped>
/* General CSS Setup */

/* container */
.container {
  padding: 5% 5%;
}
.textbubble{
    color:white;
    font-weight: bold;
}
.talk-bubble {
	margin: 40px;
  	display: inline-block;
  	position: relative;
	width: 180px;
	height: 180px;
	background-color: #de151e;
	border:17px solid #a2203c;
	display:flex;
  	align-items: center;
  	justify-content: center;
	border-radius: 90px;
	-webkit-border-radius: 120px;
	-moz-border-radius: 120px;
}

@media screen and (max-width: 1960px) {
	.talk-bubble {
		width: 120px;
		height: 120px;
		border:10px solid #a2203c;
	}
	.round{
		 border-radius: 90px;
		-webkit-border-radius: 90px;
		-moz-border-radius: 90px;
	}
	.talk-bubble:after{
			left: 6px !important;
		bottom: -10px !important;
		transform: rotate(5deg) !important;
		border: 15px solid #a2203c !important;
			border-color: transparent transparent transparent #a2203c !important;
		width: 0 !important;
		height: 0 !important;
	}
}
@media screen and (max-width: 1400px) {
	.talk-bubble {
		width: 90px !important;
		height: 90px !important;
		border:8px solid #a2203c !important;
	}
	.round{
		 border-radius: 90px;
		-webkit-border-radius: 90px;
		-moz-border-radius: 90px;
	}
	.talk-bubble:after{
		left: 1px !important;
		bottom: -10px;
		transform: rotate(5deg) !important;
		border: 15px solid #a2203c !important;
			border-color: transparent transparent transparent #a2203c !important;
		width: 0 !important;
		height: 0 !important;
		
	}
}
.talk-bubble:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -5px;
  right: auto;
  top: auto;
	bottom: -20px;
	transform: rotate(20deg);
	border: 30px solid;
	border-color: transparent transparent transparent #a2203c;
}

</style>
