<template>
    <div class="card" id= 'mycardbody' :class = "cardStyle" @click="clickedImage">
        <!-- <div class="card-header" v-if = "bodytitle != undefined && headertitle" id = 'mycardheader'>
            <div>
                <h1 class="h1"><span v-if ="headertitle" style = "font-weight:bold; font-size:25px;">MOP</span>{{headertitle}}</h1>
            </div>
        </div> -->
        <div class="card-body" style= "display:grid;
                                        grid-template-columns:1fr;
                                        padding-bottom:0px;" :class = "bodycardstyle">
            <div v-if = "tag==true && bubbletext != '% OFF'" id = 'floating' class='rounded-circle'>
                <!-- <img src = "../assets/images/tag.png" class = "tag"/> -->
                <bubble :textstyle = "mybubbletextstyle">{{bubbletext}}</bubble>
            </div>
            <div id = "cardImageProduct" style = "justify-self:center; align-self:center;">
            
                <template v-if = "bodytitle != undefined && headertitle">
                    <img :src = "bodyimage" :class = "imageStyle"/>
                </template>
                <template v-else>
                    <img :src = "bodyimage" class = "imageCardStyle"/>
                </template>
        
            </div>
            <div style= "align-self:end;" :class = "slide" v-if = "bodytitle != undefined">
                <div class='cardBodyTitleWrapper'>
                    <div>
                        <h2 class="card-title h2 bodytitle">{{bodytitle}}</h2>
                    </div>
                </div>
                
                <!-- <div class='cardBodyDescriptionWrapper'> -->
                    <div>
                    <div style = "overflow-y:hidden; height:63px; display:none;">
                        <h4 style = 'font-size:25px; margin-bottom:0px;'><slot></slot></h4>
                    </div>
                    <div style = "display:grid; grid-template-columns:auto auto">
                        <div style = "justify-self:start; align-self:end;">
                            <h1 class="h1"><span v-if ="headertitle" style = "font-size:20px;">MOP</span>{{headertitle}}</h1>
                        </div>
                        <div  style = "justify-self:end; align-self:end;">
                            <button href="#!" v-if = "print==true" @click.stop = "clickedPrint" class="btn printButton"><i class='fa fa-print' style = "color:white;"></i>&nbsp;&nbsp;Print</button>
                        </div>
                    </div>
                    <!-- <div  style = "justify-self:end; align-self:end;">
                        <a href="printhandler:ephraim?lambarte" v-if = "print==true"  class="btn printButton"><i class='fa fa-print' style = "color:white;"></i>&nbsp;&nbsp;Print</a>
                    </div> -->
                </div>
            </div>
            
        </div>
    </div>
</template>
<script>
import bubble from './bubble.vue'
export default {
    name: 'card',
    props:{
        headertitle:String,
        bodytitle:String,
        bodyimage:String, 
        tag:Boolean,
        print:Boolean,
        imageStyle:String,
        cardStyle:String,
        bubbletext:String,
        bubbletextstyle:String,
        bodycardstyle:String
    },
    data(){
        return {
            mybubbletextstyle:this.bubbletextstyle,
            header_title:this.headertitle,
            body_title:this.bodytitle,
            body_image:this.bodyimage,
            slide:String
        }
    },
    mounted(){
        if(!(this.headertitle === undefined && this.bodytitle === undefined)){
            this.slide = "slidecardbody";
        }
    },
    components:{
        bubble
    },
    methods:{
        clickedPrint(){
            this.$emit('clickedPrint');
        },
        clickedImage(){
            this.$emit('clickedImage');
        }
    },
    computed:{
        getBodyImage:function(){
            // var images = require.context('../assets/sample_images/', false, /\.png$/)
            var images = require.context('../assets/sample_images/', false, /\.(?:jpg|gif|png)$/)
            return images('./' + this.bodyimage);
        }
    }
 
}
</script>
<style scoped>
    .cardBodyTitleWrapper{
        /* display: grid;
        grid-template-columns: 3fr 1fr; */
        height:70px;
        /* background-color:red; */
    }
    #cardImageProduct:hover{
        cursor: pointer;
    }
    .centerimage{
        align-self: center;
        justify-self: center;
    }
    .cardBodyDescriptionWrapper{
        display: grid;
        grid-template-columns: auto 1fr;
    }
    .tag{
        width:150px;
        height:150px;;
    }
    #mycardheader{
        background-color:rgba(255, 255, 255, 0);;
        border:none;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }
    #floating{
        width:200px;
        height:200px;
        position: absolute;
        top:-35px;
        right:5%;
    }
    #content {
        height: 70px;
        width: 70px;
        display:table-cell;
        vertical-align:middle;    
    }
    .h1{
        /* font-weight: bold; */
        font-size:35px;
    }
    .bodytitle{
        font-size:30px; 
        /* font-weight:bold;  */
        color:#2f2f2f;
    }

    #mycardbody{
        border:1px solid gray;
    }
    .printButton{
        /* background-color:#757575;  */
        font-size:22px; 
        color:white;
        border-radius:10px;
        border-color:#757575;
        background: #3c3c3c;
        background: linear-gradient(top,  #989898,  #3c3c3c);
        background: -ms-linear-gradient(top,   #989898,  #3c3c3c);
        background: -webkit-gradient(linear, left top, left bottom, from(#989898), to(#3c3c3c));
        background: -moz-linear-gradient(top,  #989898,  #3c3c3c);
    }
    .printButton:active{
        background-color:#3c3c3c;
        /* color:#3c3c3c; */
    }
    .imageCardStyle{
        max-width:100%; 
        height:659px;
    }
    @media only screen and (max-width: 1400px) {
        .bodytitle{
            font-size:25px !important; 
        }
        .imageCardStyle{
            max-width:100%; 
            height:500px;
        }
        h4{
            font-size:18px;
        }
        .printButton{
            font-size:18px; 
        }
         #floating{
            width:100px !important;
            height:100px !important;
            position: absolute;
            top:-10px !important;
            right:10% !important;
        }
        .h1{
            font-size:25px !important;
        }
        .bodytitle{
            font-size:20px !important;
        }
    }
    .slidecardbody{
        height:125px;
    }
    @media only screen and (max-width: 1960px) {
         #floating{
            width:150px;
            height:150px;
            position: absolute;
            top:-25px;
            right:5%;
        }
        .bodytitle{
            font-size:27px; 
        }
        .h1{
            font-size:30px;
        }
    }
     .bodycardstyles{
        padding:5px !important;
        overflow-x: hidden;
        overflow-y: hidden;
    }
</style>

