<template>
    <div class='carouselwrapper'>
            
        <div style ="grid-column:1/4;
                    grid-row:1/4;">
            <carousel 
                :per-page="1" 
                :mouse-drag="mousedrag"
                :pagination-enabled="disabled"
                :navigateTo = "activeslide">
            
                <slot></slot>
                
            </carousel>
        </div>
        <div id = "leftnav" v-show="moreThan4"
                >
                          <img :src = "getLeftImage" @click = "navigateLeft()" />
        </div>
        <div id = "rightnav" v-show="moreThan4"
            >
                        <img :src = "getRightImage" @click = "navigateRight()" />
        </div>
    </div>
</template>
<style scoped>
    @media screen and (max-width: 1960px) {
        .carouselwrapper {
        display:grid !important;
        grid-template-columns:1fr 3fr 1fr !important;
        grid-template-rows:75px 200px auto !important;
        }
        #rightnav{
            grid-column:3 !important;
            align-self:end !important;
            grid-row:2 !important;
            z-index:99 !important;
            text-align:right !important;
            padding-right:20px !important;
            justify-self: end !important;
        }
        #rightnav img{
            height:170px !important;
        }
        #leftnav img{
            height:170px !important;
        }
        #leftnav{
            grid-column:1 !important;
            align-self:end !important;
            grid-row:2 !important;
            z-index:99 !important;
            padding-left:20px !important;
            justify-self: start !important;
        }
    }
    .carouselwrapper {
        display:grid;
        grid-template-columns:1fr 3fr 1fr;
        grid-template-rows:auto 200px auto;
        padding-right:2px;
        padding-left:2px;
    }
    #rightnav{
        grid-column:3;
        align-self:end;
        grid-row:2;
        z-index:99;
        text-align:right;
        padding-right:20px;
        justify-self: end;
    }

    #leftnav{
        grid-column:1;
        align-self:end;
        grid-row:2;
        z-index:99;
        padding-left:20px;
        justify-self: start;
    }
</style>

<script>
export default {
    name:'carouselcontainer',
    props:{
        totalslides:0,
    },
    data(){
        return {
            mousedrag:true,
            disabled:false,
            activeslide:0,
            moreThan4:true,
            leftimage:'left.png',
            rightimage:'right.png'
        };
    },
    methods:{
        navigateLeft(){
            this.leftimage = 'leftdark.png';
            var that =this;
            setTimeout(function(){
                that.leftimage = 'left.png';
            }, 100);
            if(this.activeslide <= 0){
               this.activeslide =  this.totalslides -1;
            }else{
                this.activeslide =this.activeslide-1;
            } 
        },
        navigateRight(){
            this.rightimage = 'rightdark.png';
            var that =this;
            setTimeout(function(){
                that.rightimage = 'right.png';
            }, 100);
            if(this.activeslide >= (this.totalslides -1)){
                this.activeslide = 0;
            }else{
                this.activeslide =this.activeslide+1;
            } 
        }
    },
    computed:{
        getLeftImage:function(){
            var images = require.context('../assets/images/', false, /\.(?:jpg|gif|png)$/)
            return images('./' + this.leftimage);
        },
        getRightImage:function(){
            var images = require.context('../assets/images/', false, /\.(?:jpg|gif|png)$/)
            return images('./' + this.rightimage);
        }
    },
    mounted(){
        /** Remove left and right navigation if there is only one slide */
        if(this.totalslides <= 1){
            this.moreThan4 = false;
        }
    }
}
</script>

<!-- carousel-1.vue -->