<template>
    
    <div class ='mycontainer'>
        <div>
            <card></card>
        </div>
    </div>
</template>
<style scoped>
    .mycontainer{
        height:750px;
        display: flex;
    }

</style>

<script>
import card from './card.vue';
export default {
    name:'carouselslide',
    components:{
        card
    }
}
</script>
