<template>
    <center>
        <div :class = "loaderStyle">
            <div class="lds-ring">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </center>
</template>
<script>
export default {
    name: 'Loader',
    props:{
        loaderStyle:String
    }
}
</script>
<style scoped>

</style>

