<template>
    <div class = "navcontainer">

        
        <div id ="imageContainer">
            
                <div class= 'imageWrapper'>
                    <router-link to = "/">
                        <img src = "../assets/images/logo.png" id ="imageBrand"/>
                    </router-link>
                </div>
                <div class= 'searchWrapper'>
                    <searchbar v-model="searchbarinput"
                                @clickedSearch = "searchProducts"/>
                </div>
            
        </div>
        

        <div class="rightnav">
             <navitem mystyle="padding:30px;" 
                     backgroundColor = "promo"
                     image="promo.png"
                     address = "/">PROMO</navitem>
            <navitem mystyle="padding:30px;" 
                     backgroundColor = "mobile"
                     image="4.png"
                     address = "Mobile">MOBILE</navitem>
            <navitem mystyle="padding:30px;" 
                     image="laptop.png"
                     backgroundColor = "laptop"
                     address = "Laptop">LAPTOP</navitem>
            <navitem mystyle="padding:30px;" 
                     image="tablet.png"
                     backgroundColor = "tablet"
                     address = "Tablet">TABLET</navitem>
            <navitem mystyle="padding:30px;" 
                     image="bottle.png"
                     backgroundColor = "drsmith"
                     address = "Drsmith">DR SMITH</navitem>
            <navitem mystyle="padding:30px;" 
                     image="6.png"
                     backgroundColor = "others"
                     address = "Others">OTHERS</navitem>
            
        </div>
    </div>
</template>
<script>
import searchbar from './searchbar.vue';
import navitem from './navitem.vue';
import axios from 'axios';
import api from '../classes/api';
import General from '../classes/general';
export default {
    name:'navbar',
    components:{
        searchbar,
        navitem
    },
    data(){
        return {
            searchbarinput:''
        }
    },
    methods:{
        searchProducts(){
            
            this.$router.push("/Search?search="+this.searchbarinput);
            
            var date =  new Date();
            var mydate = date.getFullYear()+"-"+(parseInt(date.getMonth()) + 1 < 10 ? "0" + (parseInt(date.getMonth()) + 1) : parseInt(date.getMonth()) + 1)+"-"+(parseInt(date.getDate()) < 10 ? "0"+date.getDate() : date.getDate())+" "+(parseInt(date.getHours()) < 10 ? "0"+date.getHours() : date.getHours())+":"+(parseInt(date.getMinutes())<10 ? "0"+date.getMinutes() : date.getMinutes())+":"+(parseInt(date.getSeconds())<10 ? "0"+date.getSeconds() : date.getSeconds());
            var generic = new General;
            generic.findIP.then(ip => {
                axios.get(api.insertTracking(), {
                    params:{action: 'search',
                    search_keyword: this.searchbarinput,
                    location_id:"10",
                    date_added:mydate,
                    host:ip
                }})
                .then(function (response) {
                    console.log(response);
                })
                .catch(function (error) {
                    console.log(error);
                });
            });
        }
    },
    props:{
        search:String
    }
}
</script>
<style>
    @media only screen and (max-width: 1000px) {
        #imageBrand{
            width:300px;
        }
    }
    @media only screen and (max-width: 1400px) {
        #imageBrand{
            width:300px !important;
        }
    }
    @media only screen and (max-width: 1960px) {
        #imageBrand{
            width:450px !important;
        }
    }
    .navcontainer{
        display: grid;
        grid-template-columns: 2fr 3fr;
        
    }
    .rightnav{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        
    } 
    #imageContainer{
        display: grid;
        grid-template-columns: 1fr;
        padding:20px;
        padding-bottom:0px;
        grid-gap:20px;
    }
    .imageWrapper{
        align-self: end;
    }
    .searchWrapper{
        align-self: end;
    }
</style>
