<template>
    <!-- <router-link :to="myaddress" tag="li"  :class = "bgclass"> -->
        <button class = "navitem" :class="bgclass" :style = "thisstyle" @click="setActive()">
            
            <div style = "margin-bottom:20px;">
                <img :src = "getBodyImage()" class = "navItemImage"/>
            </div>
            
            <h3 class='nav-item-text' id = "navtext"><slot></slot></h3>
        </button>
    <!-- </router-link> -->
</template>
<style scoped> 
    #navtext{
        font-weight:bold; 
        font-size:35px;
    }
    @media only screen and (max-width: 1000px) {
        .navItemImage{
            width:80px;
        }
    }
    @media only screen and (max-width: 1400px) {
        #navtext{
            font-size:15px !important;
        }
         .navItemImage{
            height:40px !important;
        }
    }
    @media screen and (max-width: 1960px) {
        .navItemImage{
            height:70px;
        }
        #navtext{
            font-size:20px;
        }
    }
    .navitem{
        border:2px solid white;
        margin:0px;
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
        text-align: center;
        color:white;
    }
    /* .navitem:active{
        background-color: red;
    } */
</style>

<script>
import $ from 'jquery';
import axios from 'axios';
import api from '../classes/api';
import General from '../classes/general';
export default {
    name:'navitem',
    props:{
        mystyle:String,
        image:String,
        address:String,
        backgroundColor:String
    },
    data(){
        return {
            body_image:this.image,
            myaddress:this.address,
            active:this.$route.name,
            thisstyle:this.mystyle,
            bgclass:this.backgroundColor
        }
    },
    methods:{
        getBodyImage:function(){
            var images = require.context('../assets/images/', false, /\.png$/)
            return images('./' + this.body_image);
        },
        setActive(){
            this.$router.push(this.myaddress);
            $(".actives").removeClass("actives");
            var date =  new Date();
            var generic = new General;
            var mydate = date.getFullYear()+"-"+(parseInt(date.getMonth()) + 1 < 10 ? "0" + (parseInt(date.getMonth()) + 1) : parseInt(date.getMonth()) + 1)+"-"+(parseInt(date.getDate()) < 10 ? "0"+date.getDate() : date.getDate())+" "+(parseInt(date.getHours()) < 10 ? "0"+date.getHours() : date.getHours())+":"+(parseInt(date.getMinutes())<10 ? "0"+date.getMinutes() : date.getMinutes())+":"+(parseInt(date.getSeconds())<10 ? "0"+date.getSeconds() : date.getSeconds());
            switch (this.$route.name) {
                case "Mobile":
                    $(".mobile").addClass("actives");
                    var generic = new General;
                    generic.findIP.then(ip => {
                        axios.get(api.insertTracking(), {
                            params:{action: 'category',
                            location_id:"10",
                            category_id:"12",
                            category_name:"Mobile",
                            date_added:mydate,
                            host:ip
                        }})
                        .then(function (response) {
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    });
                    break;
                case "Laptop":
                    $(".laptop").addClass("actives");
                    generic.findIP.then(ip => {
                        axios.get(api.insertTracking(), {
                            params:{action: 'category',
                            location_id:"10",
                            category_id:"49",
                            category_name:"Laptop",
                            date_added:mydate,
                            host:ip
                        }})
                        .then(function (response) {
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    });
                    break;
                case "Tablet":
                    $(".tablet").addClass("actives");
                    generic.findIP.then(ip => {
                        axios.get(api.insertTracking(), {
                            params:{action: 'category',
                            location_id:"10",
                            category_id:"13",
                            category_name:"Tablet",
                            date_added:mydate,
                            host:ip
                        }})
                        .then(function (response) {
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    });
                    break;
                case "Others":
                    $(".others").addClass("actives");
                    break;
                case "Home":
                
                    $(".promo").addClass("actives");
                    generic.findIP.then(ip => {
                        axios.get(api.insertTracking(), {
                            params:{action: 'category',
                            location_id:"10",
                            category_id:"1", //This id is not really the id of promotional category, because promotional category is a special case in the database
                            category_name:"Promotional Category",
                            date_added:mydate,
                            host:ip
                        }})
                        .then(function (response) {
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    });
                    break;
                case "Drsmith":
                    $(".drsmith").addClass("actives");
                    generic.findIP.then(ip => {
                        axios.get(api.insertTracking(), {
                            params:{action: 'category',
                            location_id:"10",
                            category_id:"62", 
                            category_name:"Dr. Smith",
                            date_added:mydate,
                            host:ip
                        }})
                        .then(function (response) {
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    });
                    break;
                default:
                    $(".others").addClass("actives");
                    break;
            }
        }
    },
    mounted(){
         $(".actives").removeClass("actives");
        switch (this.$route.name) {
            case "Mobile":
                $(".mobile").addClass("actives");
                break;
            case "Laptop":
                $(".laptop").addClass("actives");
                break;
            case "Tablet":
                $(".tablet").addClass("actives");
                break;
            case "Others":
                $(".others").addClass("actives");
                break;
            case "Home":
                $(".actives").removeClass("actives");
                break;
        
            default:
                $(".others").addClass("actives");
                break;
        }
    }
}
</script>
