<template>
    <div class= 'promoHeader'>
        <h2 class = "h2" :class = "mycursor" @click = "goback()"><i v-if="back==true" class='fa fa-angle-left' style = "color:white;">&nbsp;&nbsp;</i>{{capitalizeFirstLetter(title_prop)}}</h2>
    </div>
</template>
<style scoped>
    @media only screen and (max-width: 1400px) {
        .h2{
            font-size:30px !important;
        }
        .promoHeader{ 
            padding:10px !important; 
        }
    }
    @media screen and (max-width: 1960px) {
        .h2{
            font-size:24px !important;
        }
        .promoHeader{
            padding:10px !important;
        }
    }
    .promoHeader{
        margin-top:5px;
        margin-bottom:0px;
        margin-left:0px;
        margin-right:0px;  
        padding:20px; 
        background-color:#b6c2dc;
    }
    .mycursor:hover{
        cursor: pointer;
    }
    .h2{
        color:white; 
        font-size:45px;
    }
   

</style>

<script>
export default {
    name:'promoheader',
    props:{
        title_prop:String,
        back:Boolean,
        mycursor:String},
    data(){
        return {
            title:this.title_prop
        }
    },
    methods:{
        goback(){
            if(this.back == true){
                this.$router.go(-1);
            }
        },
        capitalizeFirstLetter(string) {
            var stringarr = string.split(" ");
            var returnstring= "";
            stringarr.forEach(element => {
                returnstring =returnstring + " " +element.charAt(0).toUpperCase() + element.slice(1).toLowerCase(); 
            });
            return returnstring;
        }
    }
}
</script>

