<template>
    <div>
        <div class="bookmarkRibbon2">
           <center><slot></slot></center>
        </div>
         
    </div>
</template>
<style scoped>
    .bookmarkRibbon2{
        background: url("../assets/images/ribbonreversed.png"); 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 945px;
        height: 110px;
        z-index:9999999;
        padding-bottom: 20px;
        margin-bottom:40px;
    }
    @media screen and (max-width: 1960px) {
         .bookmarkRibbon2{
            width: 700px;
            height: 70px;
             
        -webkit-background-size: 700px 70px;
        -moz-background-size: 700px 70px;
        -o-background-size: 700px 70px;
        background-size: 700px 70px;
        padding-top: 8px;
        }
    }
    @media only screen and (max-width: 1400px) {
        .bookmarkRibbon2{
            width: 500px !important;
            height: 60px !important;
             
            -webkit-background-size: 500px 60px;
            -moz-background-size: 500px 60px;
            -o-background-size: 500px 60px;
            background-size: 500px 60px;
        }
    }
</style>
<script>
export default {
    name:'ribbon'
}
</script>
