<template>
    
    <div class='input-group' style = 'height:60px;'>
        <input class="form-control" 
                type="search" 
                v-bind:value= "value" 
                v-on:input="$emit('input', $event.target.value)"
                id="searchinput">
        <span class="input-group-append">
            <div class="input-group-text" id = "searchBarIcon">
                                                   <i v-show = "!(searching)" class="fa fa-search" style = "color:gray;"></i>
                                                   <i v-show = "searching" @click = "clearSearch()" class="fa fa-close hoverpointer" style = "color:gray;"></i>
                                                   </div>
        </span>
        <button class='btn' @click="clickedSearch" id = "searchBarButton">SEARCH</button>
    </div>
</template>
<style scoped>
    @media only screen and (max-width: 1000px) {
        #imageBrand{
            width:300px;
        }
        #searchBarIcon{
            font-size:20px !important;
        }
        #searchBarButton{
            width:80px !important;  
            font-size:15px !important;
        }
    }
    @media only screen and (max-width: 1400px) {
        #imageBrand{
            width:300px;
        }
        #searchBarIcon{
            font-size:20px !important;
        }
        #searchBarButton{
            width:100px !important;  
            font-size:20px !important;
        }
    }
    #searchinput{
        font-size: 30px;
        background-color:#e4e4e4;
        border:1px solid #929292;
        border-right:50px;
        border-top-left-radius:13px;
        border-bottom-left-radius:13px;
    }
    #searchBarButton{
        width:150px; 
        border-radius:13px; 
        margin-left:20px; 
        /* background-color:gray;  */
        color:white; 
        font-size:30px;

        background: #3c3c3c;
        background: linear-gradient(top,  #989898,  #3c3c3c);
        background: -ms-linear-gradient(top,   #989898,  #3c3c3c);
        background: -webkit-gradient(linear, left top, left bottom, from(#989898), to(#3c3c3c));
        background: -moz-linear-gradient(top,  #989898,  #3c3c3c);
    }
    #searchBarButton:active{
        background: #3c3c3c;
    }
    #searchBarIcon{
        border-top-right-radius:13px;
        border-bottom-right-radius:13px;
        background-color:#e4e4e4;
        border-left:none;
        border-top:1px solid #929292;
        border-bottom:1px solid #929292;
        border-right:1px solid #929292;
        font-size:40px;
    }
   button:disabled,
    button[disabled]{
        background-color:#d3d3d3;
        border-top: 1px solid #3a3a3a;
        border-right: 1px solid #3a3a3a;
        border-bottom: 1px solid #3a3a3a;
        height:100%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .disappear{
        transition: visibility 0s, opacity 0.5s linear;
    }
</style>
<script>
export default {
    name:'searchbar',
    props:{
        value:String
    },
    watch:{
        value:function(value){
            if(value.length > 0){
                this.searching = true;
            }else{
                this.searching = false;
            }
        }
    },
    data(){
        return {
            thatvalue:this.myvalue,
            searching:false
        }
    }, 
    methods:{
        clickedSearch(){
            this.$emit('clickedSearch');
        },
        clearSearch(){
            this.value = "";
        }
    }
}
</script>
