<template>
    <b-modal ref="loaderModal" hide-footer title="Print" centered >
        <div class="d-block text-center">
            <div class="circle-loader" :class = "circleLoader">
                <div class="checkmark draw" :style = "circleLoaderStyle"></div>
            </div>
            <h2>Your receipt is being printed.</h2>
        </div>
        
        <b-btn class="mt-3" variant="outline-danger" block @click="hideModal">Close</b-btn>
    </b-modal>
</template>
<script>
    import '../assets/styles/successloader.scss';
    export default {
        name:'successloadermodal',
        props:{
            circleLoader:String,
            circleLoaderStyle:String
        },
        methods:{
            hideModal () {
                this.$refs.loaderModal.hide();
            }, 
            showModal(){
                this.$refs.loaderModal.show();
            }
        }
    }
</script>
