<template>
    <div style = "min-height:1080px;position:relative; padding-bottom:80px;">
        <div>
            <header class='header' style = "padding:0px; padding-left:20px; margin-bottom:5px;" >
                <navbar/>
                <!-- <navbar v-model = "searchbarvalue"/> -->
            </header>
            <router-view>

            </router-view>
        </div>
        <div class ='footer'>
            <div style = "align-self:center; justify-self:center;">
                <h1 style = "font-size:18px; color:gray;"><i class= 'fa fa-copyright'></i>&nbsp; OWTEL MACAU 2018 All Rights Reserved</h1>
            </div>
        </div>
        <!-- <successloadermodal/> -->
        <!-- </footer> -->
    </div>
</template>

<script>
    import navbar from './components/navbar.vue';
    // import successloadermodal from './components/successloadermodal.vue';
    export default {
        name: 'app',
        data(){
            return {
                searchbarvalue:"",
                currentroute:this.$route.name
            }
        },
        components: {
            navbar,
            // successloadermodal
        },
        methods:{
            hideModal () {
                this.$refs.loaderModal.hide()
            }
        },
        mounted(){
        
        }
    }
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.footer{
    margin-top:10px;
    align-self: end;
    height:80px;
    display: grid;
    grid-template-columns: 1fr;
    /* padding-left:50px; */
    /* border-top:1px solid gray; */
    position: absolute;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:99999;
}
.slides{
    flex-grow:1;  padding:10px;
}
</style>
