@import url('https://fonts.googleapis.com/css?family=Lato');

.btn{
    border-color: #ced4da;
}
.btn:focus{
    box-shadow: none;
}
* {
    font-size: 100%;
    font-family: 'Lato', sans-serif;
   }

/* body{
    min-height:1080px;
} */
/* .promo{
    background-color: #87c28c;
} */
.errorContainerGlobal{
    display:grid;
    grid-template-columns:1fr;
    height:500px;
    justify-items:center;
    align-items:center;
}
.promo {
    font-family: arial;
    color: #FFFFFF !important;
    font-size: 14px;
    text-shadow: 1px 1px 0px #4C5257;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 10px 25px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #949494;
    background: #b5e8b9 ;
    background: linear-gradient(top,  #b5e8b9,  #69b270 );
    background: -ms-linear-gradient(top,  #b5e8b9,#69b270   );
    background: -webkit-gradient(linear, left top, left bottom, from(#b5e8b9), to(#69b270));
    background: -moz-linear-gradient(top,  #b5e8b9,  #69b270);

    transition-property: background;
    transition-duration: .2s, 1s;
    transition-timing-function: ease-in;
    transition-delay: 0s, 1s;
    outline: none !important;
}
/* .mobile{
    background-color: #577fc9;
} */
.mobile {
    font-family: arial;
    color: #FFFFFF !important;
    font-size: 14px;
    text-shadow: 1px 1px 0px #4C5257;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 10px 25px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #949494;
    background: #99b5e9;
    background: linear-gradient(top,  #99b5e9,  #4167ad);
    background: -ms-linear-gradient(top,   #99b5e9,  #4167ad);
    background: -webkit-gradient(linear, left top, left bottom, from(#99b5e9), to(#4167ad));
    background: -moz-linear-gradient(top,  #99b5e9,#4167ad);

    transition-property: background;
    transition-duration: .2s, 1s;
    transition-timing-function: ease-in;
    transition-delay: 0s, 1s;
    outline: none !important;
}
.mobile:active{
    background:#7A7A7A;
}
.laptop:active{
    background:#7A7A7A;
}
.promo:active{
    background:#7A7A7A;
}
.tablet:active{
    background:#7A7A7A;
}
.drsmith:active{
    background:#7A7A7A;
}
.others:active{
    background:#7A7A7A;
}
.laptop{
    /* background-color: #9276b8; */
    font-family: arial;
    color: #FFFFFF !important;
    font-size: 14px;
    text-shadow: 1px 1px 0px #4C5257;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 10px 25px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #949494;
    background: #c1abdf;
    background: linear-gradient(top,  #c1abdf,  #8366aa);
    background: -ms-linear-gradient(top,   #c1abdf,  #8366aa);
    background: -webkit-gradient(linear, left top, left bottom, from(#c1abdf), to(#8366aa));
    background: -moz-linear-gradient(top,  #c1abdf,  #8366aa);

    transition-property: background;
    transition-duration: .2s, 1s;
    transition-timing-function: ease-in;
    transition-delay: 0s, 1s;
    outline: none !important;
}
.tablet{
    /* background-color: #de67a7; */
    font-family: arial;
    color: #FFFFFF !important;
    font-size: 14px;
    text-shadow: 1px 1px 0px #4C5257;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 10px 25px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #949494;
    background: #f8aed6;
    background: linear-gradient(top,  #f8aed6,  #d15698);
    background: -ms-linear-gradient(top,   #f8aed6,#d15698);
    background: -webkit-gradient(linear, left top, left bottom, from(#f8aed6), to(#d15698));
    background: -moz-linear-gradient(top, #f8aed6,   #d15698);

    transition-property: background;
    transition-duration: .2s, 1s;
    transition-timing-function: ease-in;
    transition-delay: 0s, 1s;
    outline: none !important;
}
.drsmith{
    font-family: arial;
    color: #FFFFFF !important;
    font-size: 14px;
    text-shadow: 1px 1px 0px #4C5257;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 10px 25px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #949494;
    background: #3fb2bc;
    background: linear-gradient(top,  #97e0e7,  #3fb2bc);
    background: -ms-linear-gradient(top,   #97e0e7,#3fb2bc);
    background: -webkit-gradient(linear, left top, left bottom, from(#97e0e7), to(#3fb2bc));
    background: -moz-linear-gradient(top, #97e0e7,   #3fb2bc);

    transition-property: background;
    transition-duration: .2s, 1s;
    transition-timing-function: ease-in;
    transition-delay: 0s, 1s;
    outline: none !important;
}
.others{
     /* background-color: #f9ae64; */
     font-family: arial;
     color: #FFFFFF !important;
     font-size: 14px;
     text-shadow: 1px 1px 0px #4C5257;
     box-shadow: 1px 1px 1px #BEE2F9;
     padding: 10px 25px;
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
     border-radius: 10px;
     border: 1px solid #949494;
     background: #fcc894;
     background: linear-gradient(top,  #fcc894,  #e58f39);
     background: -ms-linear-gradient(top,   #fcc894,  #e58f39);
     background: -webkit-gradient(linear, left top, left bottom, from(#fcc894), to(#e58f39));
     background: -moz-linear-gradient(top,  #fcc894,  #e58f39);

     transition-property: background;
    transition-duration: .2s, 1s;
    transition-timing-function: ease-in;
    transition-delay: 0s, 1s;
    outline: none !important;
}
.actives{
    /* background-color: gray; */
    color: #FFFFFF !important;
    background: #B5B5B5;
    background: linear-gradient(top,  #ABABAB,  #7A7A7A);
    background: -ms-linear-gradient(top,  #ABABAB,  #7A7A7A);
    background: -webkit-gradient(linear, left top, left bottom, from(#ABABAB), to(#7A7A7A));
    background: -moz-linear-gradient(top,  #ABABAB,  #7A7A7A);
}
.slides{
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:10px;
}
.slideWrapper{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-gap:5px;
    padding-top: 10px;
}
.responsiveImage{
    height:480px;
    max-width:550px;
}
.mycard{
    height:100%;
    /* background: linear-gradient(#fff, #bababa); */
    display: grid;
    grid-template-rows:auto; 
    background:white;
}
.bubbletextstyle{
    font-size:53px;
    position:absolute;
    left:30px;
    line-height:0.9;
}
.bubbletextProduct{
    font-size:53px;
    position:absolute;
    line-height:0.9;
    left:10px;
}
.productImageView{
    max-height: 80%;
    width:70%; 
}
.thinkpad{
    height:75%;
    width:70%;
    margin-top:90px;
}
@media screen and (max-width: 1960px) {
	.bubbletextstyle{
        font-size:38px;
        position:absolute;
        left:12px;
        line-height:0.9;
    }
    .bubbletextProduct{
        font-size:35px;
    }
    .mycard{
        /* height:650px; */
    }
    .responsiveImage{
        height:250px;
        max-width: 100%;
    }
    .productImageView{
        /* height:650px !important; */
        max-height:80% !important;
        width:60%;
        max-width: 100%;
    }
}
@media only screen and (max-width: 1400px) {
    .responsiveImage{
        height:250px;
        width:260px;
    }
    .productImageView{
        /* max-height:80% !important; */
        height:500px !important;
        max-width: 100% !important;
    }
    .mycard{
        /* height:600px; */
    }
    .bubbletextstyle{
        font-size:25px;
        position:absolute;
        left:12px;
        line-height:0.9;
    }
    .bubbletextProduct{
        font-size:22px;
    }
}
#pdfautoprint{
    /* display: none; */
    height:1500px;
    width:500px;

}
.printButtonProductDetails{
    /* background-color:#757575;  */
    /* font-size:22px;  */
    color:white;
    border-radius:10px;
    border-color:#757575;
    background: #3c3c3c;
    background: linear-gradient(top,  #989898,  #3c3c3c);
    background: -ms-linear-gradient(top,   #989898,  #3c3c3c);
    background: -webkit-gradient(linear, left top, left bottom, from(#989898), to(#3c3c3c));
    background: -moz-linear-gradient(top,  #989898,  #3c3c3c);
}
.printButtonProductDetails:active{
    background-color:#3c3c3c;
    /* color:#3c3c3c; */
}
.hoverpointer:hover{
    cursor: pointer;
}